CST::BEGIN
  TEMPLATE::  ATOM_MAP: 1 atom_name: C1 C2 S1
  TEMPLATE::  ATOM_MAP: 1 residue3: OBY

  TEMPLATE::  ATOM_MAP: 2 atom_name: OH CZ CE1
  TEMPLATE::  ATOM_MAP: 2 residue3: TYZ

  CONSTRAINT::  distanceAB: 1.425    0.01    50.0     1      0
  CONSTRAINT::     angle_A: 107.0     2.0    50.0    360.0   0
  CONSTRAINT::     angle_B: 118.0     2.0    50.0    360.0   0
  ALGORITHM_INFO:: match
    CHI_STRATEGY:: CHI 1 EX_TWO_HALF_STEP_STDDEVS
    CHI_STRATEGY:: CHI 2 EX_TWO_HALF_STEP_STDDEVS
      IGNORE_UPSTREAM_PROTON_CHI
  ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::  ATOM_MAP: 1 atom_name: C2 C1 O1
  TEMPLATE::  ATOM_MAP: 1 residue3: OBY

  TEMPLATE::  ATOM_MAP: 2 atom_name: NZ CE CD
  TEMPLATE::  ATOM_MAP: 2 residue3: LYX

  CONSTRAINT::  distanceAB: 1.506    0.01    50.0     1      0 
  CONSTRAINT::     angle_A: 111.3     2.0    50.0    360.0   0
  CONSTRAINT::     angle_B: 114.1     2.0    50.0    360.0   0
  ALGORITHM_INFO:: match
    CHI_STRATEGY:: CHI 1 EX_TWO_HALF_STEP_STDDEVS
    CHI_STRATEGY:: CHI 2 EX_TWO_HALF_STEP_STDDEVS
      IGNORE_UPSTREAM_PROTON_CHI
  ALGORITHM_INFO::END
CST::END
